#home {
    /* min-height: 90vh; */
    /* background-image: url(../imgs/projetos/9.jpg); */
    background-color: var(--primary-color);
}

#home>.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.home-section {
    flex: 1 300px;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.home-section>.img {
    /* background-image: url("../imgs/mdf.png"); */
    height: 100%;
}

.coelho1 {
    color: var(--secondary-color);
}

.coelho2 {
    color: var(--primary-color);
}


#know-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-flow: row wrap;
}

.know-content {
    flex: 1 310px;

}

.know-text {
    margin-top: 10px;

}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    grid-template-areas:
        "p1 p1 p2"
        "p1 p1 p2"
        "p3 p4 p4"
        "p3 p4 p4"
        "p3 p4 p4"
        "p5 p5 p6"
        "p5 p5 p6"
        "p7 p7 p6"
        "p7 p7 p6";
    gap: 20px;
}


@media (max-width: 768px) {
    #cards {
        grid-template-columns: 1fr;
        grid-auto-rows: 280px;
        grid-template-areas:
            "p1"
            "p2"
            "p3"
            "p4"
            "p5"
            "p6"
            "p7";
    }
}


.card {
    border-radius: 3px;
    transition: .4s;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transform: translateY(100%);
    transition: .3s ease;
}

.card:hover .card-info {
    transform: translateY(0);
}

.card:hover {
    scale: 1.02;
}

#card1 {
    grid-area: p1;
    background-image: url("../imgs/projetos/1.jpg");
}

#card2 {
    grid-area: p2;
    background-image: url("../imgs/projetos/10.jpg");
}

#card3 {
    grid-area: p3;
    background-image: url("../imgs/projetos/3.jpg");
}

#card4 {
    grid-area: p4;
    background-image: url("../imgs/projetos/9.jpg");
}

#card5 {
    grid-area: p5;
    background-image: url("../imgs/projetos/6.jpg");
}

#card6 {
    grid-area: p6;
    background-image: url("../imgs/projetos/13.webp");
}

#card7 {
    grid-area: p7;
    background-image: url("../imgs/projetos/11.png");
}


#contact .content {
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
}

.contact-content.img {
    background-image: url("../imgs/projetos/4.jpg");
    flex: 1;
}

@media (width < 768px){
    .contact-content.img {
        display: none;
    }
}

.contact-content {
    flex: 1;
}

#contact-form {
    display: flex;
    flex-flow: column nowrap;
}

#contact-form input, #contact-form textarea {
    outline: 2px solid rgba(0, 0, 0, 0.3);
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#contact-form textarea {
    resize: vertical;
    height: 400px;
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: 2.5px solid var(--primary-color);
    
}

#contact-form button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
}



.footer-section {

}