:root {
    --primary-color: #006414;
    --secondary-color: #003400;
    --black: #000000;
    --white: #FFFFFF;
    --header-height: 70px;

}

* {
    /* reset css*/
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
    scroll-margin-top: calc(var(--header-height)/4);
}


.container {
    width: 100%;
    min-width: 375px;
    max-width: 1168px;
    padding: 20px 0px;
    margin: auto;
}

header {
    width: 100vw;
    height: var(--header-height);
    backdrop-filter: blur(25px);
    position: fixed;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

header * {
    color: var(--black);
    mix-blend-mode: difference;
}

header .container {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid var(--black);
}

header ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section {
    padding: 2% 2% 0%;
}

.title {
    font-size: 3rem;
    /* text-align: center; */
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.subtitle {
    font-size: 1.5rem;
    /* text-align: center; */
}

.content {
    margin-top: 15px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background: var(--secondary-color);
}

footer * {
    color: var(--white);
}

.footer-main {
    display: flex;
    flex-flow: row wrap;
    padding-top: 40px;
    height: 30vh;
}

footer hr {
    border: 2px solid var(--white);
    /* padding: 10px; */
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-sub {
    padding: 4px;
    background-color: var(--black);
}

.footer-sub p,
.footer-sub a {
    text-align: center;
    opacity: .7;
    font-size: .85rem;

}