:root {
    --primary-color: #006414;
    --secondary-color: #003400;
    --black: #000000;
    --white: #FFFFFF;
    --header-height: 70px;

}

* {
    /* reset css*/
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
    scroll-margin-top: var(--header-height);
}


.container {
    width: 100%;
    height: 100%;
    min-width: 375px;
    max-width: 1168px;
    padding: 20px;
    margin: auto;
}

header {
    width: 100vw;
    height: var(--header-height);
    /* background-color: var(--primary-color); */
    position: fixed;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

header .container {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section {
    padding: 2% 2% 0%;
}

.title {
    font-size: 3rem;
    /* text-align: center; */
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.subtitle {
    font-size: 1.5em;
    /* text-align: center; */
}

.content {
    margin-top: 15px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    border: 1px solid var(--black);
}

footer {
    background: var(--secondary-color);
}

footer *{
    color: var(--white);
}

footer > .container {
    display: flex;
    flex-flow: row;
    gap: 20px;
}


.footer-section {
    flex: 1;
}